# ############################################################################
# Author: 		Matthieu Holtz
# Year:   		2017
# Project: 		wifi bridge
# Description: 	This file is the config file for the wifi scripts
# ############################################################################

################# Global ################ 

WLAN_IFACE_NAME="wlan0"
ETH_IFACE_NAME="eth0"

############## Client mode ##############

CLIENT_ESSID="WIFI_AGMH"
CLIENT_WPA_PASSPHRASE="agmh2016"

################## LAN ##################

ETH_IFACE_IP="10.0.0.254"
ETH_IFACE_SUBNET_MASTK="255.0.0.0"
ETH_DNS_SERVER="8.8.8.8"
ETH_DHCP_SUBNET="10.0.0.0"
ETH_DHCP_START="10.15.15.1"
ETH_DHCP_STOP="10.15.15.254"
ETH_DOMAIN_NAME="creativeroom.lan"

############## FORWARDING  ##############

# For no forwarding port use declare -a PORT_FORWARDING=()
# For forwarding port use declare -a PORT_FORWARDING=('tcp|udp:SRC_PORT:DST_IP:DST_PORT')
# Example : to forward TCP port 80 to 192.168.0.20 use:
#           declare -a PORT_FORWARDING=('tcp:80:192.168.0.20:80')

declare -a PORT_FORWARDING=('tcp;80;10.0.0.1;80' 'tcp;81;10.0.0.1;81')

declare -a DHCP_RESERVATIONS=('00:00:00:FF:FF:FF;10.0.0.1;KNX' '00:00:00:FF:FF:FF;10.0.0.2;Jeedom' '00:00:00:F1:F2:F3;10.0.0.3;Other')
